button {
  display: block;
  width: 100%;
  font-size: 4vh;
}

svg {
  background: linear-gradient(
    90deg,
    rgb(238, 247, 228) 0%,
    rgb(179, 226, 224) 50%,
    rgb(241, 209, 245) 100%
  );
}

.legend {
  font-size: 2.5vh;
}

.expense:before {
  content: ".";
  background-color: black;
  color: black;
  width: 3vh;
  display: inline-block;
  margin: 0 0.5vh 0 0.5vh;
}

.highest-expense:before {
  content: ".";
  background-color: purple;
  color: purple;
  width: 3vh;
  display: inline-block;
  margin: 0 0.5vh 0 2.5vh;
}
